<div class="container">

  <div class="row">

    <md-spinner *ngIf="!loadFinish"></md-spinner>

    <div class="col-lg-4" *ngIf="loadFinish">

      <md-card [style.background]="technologyService.getTechnology(labObject.technology)?.color">

        <md-card-header>
          <img md-card-avatar src="/assets/{{ technologyService.getTechnology(labObject.technology).icon }}"
               alt="Tecnology"
          >
          <md-card-title>{{ technologyService.getTechnology(labObject.technology).name }}</md-card-title>
          <md-card-subtitle>{{ technologyService.getLevel(labObject.level).name }}</md-card-subtitle>
        </md-card-header>

        <md-card-title>{{ labObject.title }}</md-card-title>
        <md-card-content>
          Actualizado en {{ labObject.updated | date }}
        </md-card-content>
        <md-card-actions *ngIf="labObject.videoId">
          <a md-button color="accent" href="{{ 'https://www.youtube.com/watch?v=' + labObject.videoId }}"
             target="_blank">VER EN YOUTUBE</a>
        </md-card-actions>
      </md-card>

      <md-nav-list *ngFor="let step of labObject.steps; let i = index;">
        <md-list-item
          (click)="changeStep(i, step.title, step.content)"
          [class.selected]="currentStepNumber === i">
          <span class="step-number" *ngIf="i > 0">&nbsp;{{ i }}&nbsp;</span>&nbsp;{{ step.title }}
        </md-list-item>
        <md-divider *ngIf="i == 0"></md-divider>
      </md-nav-list>
      <md-nav-list>
        <md-divider></md-divider>
        <md-list-item>
          <h4 md-line>Daniel Alvarez</h4>
          <p md-line>Autor</p>
        </md-list-item>
      </md-nav-list>

    </div>

    <div class="col-lg-8" *ngIf="loadFinish">

      <md-card class="youtube" *ngIf="labObject.videoId">
        <iframe width="560" height="315" [src]="labObject.trustVideoUrl"
                frameborder="0"
                allowfullscreen></iframe>
      </md-card>

      <md-card>
        <h2 *ngIf="currentStepNumber > 0">
          <span class="step-number">&nbsp;{{ currentStepNumber }}&nbsp;</span>&nbsp;{{ currentStep.title }}
        </h2>
        <div class="markdown-content" [innerHtml]="currentStep.content | markdown | sanitizeHtml">
        </div>
      </md-card>

      <div class="step-end">
        <button md-raised-button color="primary" (click)="goNextStep()"
                *ngIf="currentStepNumber < totalStepsNumber-1">
          {{ currentStepNumber === 0 ? 'INICIAR' : 'SIGUIENTE'}}
        </button>
      </div>

    </div>

  </div>

</div>
