<md-toolbar *ngIf="(lab | async)"
            [style.background]="technologyService.getTechnology((lab | async)?.technology)?.color">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1>{{ (lab | async)?.title }}</h1>
      </div>
      <div class="col">
        <md-icon color="accent">access_time</md-icon>
        <img *ngIf="(lab | async)"
             height="40"
             [src]="'/assets/' + technologyService.getTechnology((lab | async)?.technology)?.icon"
             alt="Technology">
      </div>
    </div>
  </div>
</md-toolbar>
<div class="container">

  <div class="row">

    <md-card class="col-lg-8 mb-4">

      <div *ngIf="currentStepNumber > 0">
        <h2>
          <span class="badge badge-primary">{{ currentStepNumber }}</span>
          {{ currentStep.title }}
        </h2>
      </div>

      <div class="lab-content" [innerHtml]="currentStep.content | markdown | sanitizeHtml">
      </div>

      <button md-raised-button color="primary" (click)="goNextStep()"
              *ngIf="currentStepNumber < totalStepsNumber-1">
        {{ currentStepNumber === 0 ? 'INICIAR' : 'SIGUIENTE'}}
      </button>

    </md-card>

    <md-card class="col-lg-3">
      <md-list>
        <md-list-item>
          {{ technologyService.getLevel((lab | async)?.level )?.name }}
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Pasos</h3>
        <md-list-item *ngFor="let step of (lab | async)?.steps; let i = index;"
                      (click)="changeStep(i, step.title, step.content)"
                      [class.active]="currentStepNumber === i">
          {{ step.title }}
        </md-list-item>
      </md-list>
      <p>Por Daniel Alvarez</p>
    </md-card>

  </div>

</div>
