.container {
  /*background-color: white;*/
}
.step-number {
  color: white;
  background-color: #69F0AE;
  border-radius: 4px;
}

.step-end {
  margin: 0 0 32px 0;
}

md-card {
  margin: 16px 0 16px 0;
}
md-card-title {
  font-weight: 500;
  color: white;
}
md-card-content {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
md-card-header md-card-title {
  color: white;
}
md-card-header md-card-subtitle {
  color: rgba(255, 255, 255, 0.7);
}

md-list-item.selected {
  color: #69F0AE;
  font-weight: 500;
}
:host >>> .lab-content img {
  display: block;
  margin: auto auto 1em;
  max-width: 100%;
  min-height: 2em;
  max-height: 40em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  /*background-color: #8484bd;*/
}
/*:host >>> pre {*/
  /*background-color: #F6F9FC;*/
  /*padding: 1em 1em 1em 1em;*/
  /*border-radius: 0.5em;*/
/*}*/
/*:host >>> code {*/
  /*color: #32325D;*/
  /*background-color: #F6F9FC;*/
/*}*/
/*:host >>> p {*/
  /*font-family: 'Merriweather', sans-serif;*/
  /*!*font-size: 1.1rem;*!*/
/*}*/
/*:host >>> h2 {*/
  /*font-family: 'Roboto Mono', sans-serif;*/
  /*letter-spacing: -2px;*/
  /*!*font-weight: 700;*!*/
/*}*/
/*:host >>> h3 {*/
  /*font-family: 'Roboto Mono', sans-serif;*/
  /*letter-spacing: -2px;*/
  /*!*font-weight: 700;*!*/
/*}*/
