textarea {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 14px;
  resize: none;
}

.full-width {
  width: 100%;
}

tr {
  height: 60px;
}

md-card {
  margin: 0;
}

table {
  padding: 16px;
}
