<div class="container">
  <div class="row">

    <md-spinner *ngIf="!isFinishLoad"></md-spinner>

    <div class="col-lg-8" *ngIf="isFinishLoad">
      <md-card>
        <div class="markdown-content" [innerHtml]="pageObject.content | markdown | sanitizeHtml">
        </div>
      </md-card>
    </div>
    <div class="col-lg-4" *ngIf="isFinishLoad">
      <p></p>

      <div class="fb-page" data-href="https://www.facebook.com/alvareztech/" data-small-header="true"
           data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/alvareztech/" class="fb-xfbml-parse-ignore"><a
          href="https://www.facebook.com/alvareztech/">ALVAREZ.tech</a></blockquote>
      </div>

      <md-nav-list>
        <md-list-item (click)="openYoutube()">
          <h4 md-line>Canal de YouTube</h4>
          <p md-line>alvareztech</p>
        </md-list-item>
        <md-list-item (click)="sendMail()">
          <h4 md-line>Correo</h4>
          <p md-line>daniel@alvarez.tech</p>
        </md-list-item>
      </md-nav-list>

    </div>
  </div>
</div>
