<div class="row">

  <md-card class="col-12 col-md-6 col-lg-4" *ngFor="let lab of labsPreview | async">
    <md-card-title>{{ lab.title }}</md-card-title>
    <md-card-subtitle>{{ technologyService.getLevel(lab.level).name }}</md-card-subtitle>
    <md-card-content>{{ lab.updated | date }}</md-card-content>
    <md-card-header>
      <div md-card-avatar [style.background]="technologyService.getTechnology(lab.technology).color">
        <img src="/assets/{{ technologyService.getTechnology(lab.technology).icon }}"
             alt="{{ technologyService.getTechnology(lab.technology).name }}"
             width="30"
        >
      </div>
      <md-card-title>{{ technologyService.getLevel(lab.level).name }}</md-card-title>
      <md-card-subtitle>{{ technologyService.getLevel(lab.level).name }}</md-card-subtitle>
    </md-card-header>
    <a md-raised-button color="primary" [routerLink]="'/labs/' + [lab.$key]">INICIAR</a>
  </md-card>

</div>
