<section class="jumbotron">
  <h1>Labs</h1>
  <p>Laboratorios para completarlos paso a paso</p>
</section>

<div class="row">
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let lab of labsPreview | async">
    <div class="card mb-4">
      <img class="card-img-top p-2"
           src="/assets/{{ technologyService.getTechnology(lab.technology).icon }}"
           alt="{{ technologyService.getTechnology(lab.technology).name }}"
           [style.background]="technologyService.getTechnology(lab.technology).color"
      >
      <div class="card-block">
        <h4 class="card-title">{{ lab.title }}</h4>
        <p class="card-text">{{ technologyService.getLevel(lab.level).name }}</p>
        <p class="card-text">
          <small class="text-muted">{{ lab.updated | date }}</small>
        </p>
        <a class="btn btn-primary" [routerLink]="'/labs/' + [lab.$key]">Iniciar</a>
      </div>
    </div>
  </div>
</div>
