<md-toolbar color="primary">
  <a routerLink="">
    <img src="/assets/alvareztech.svg" width="80" height="30" alt="ALVAREZ.tech">
  </a>

  <span fxFlex></span>

  <a md-button routerLink="labs">Labs</a>
  <a md-button>Artículos</a>

  <img [src]="(user | async)?.photoURL" height="30" width="30" *ngIf="(user | async)">

  <a md-button (click)="login()" *ngIf="!(user | async)">Ingresar</a>
  <button md-icon-button [mdMenuTriggerFor]="themeMenu">
    <md-icon>more_vert</md-icon>
  </button>

</md-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<md-menu #themeMenu x-position="before">
  <button md-menu-item (click)="logout()">Salir</button>
</md-menu>

<footer class="row">
  <a md-button href="https://www.facebook.com/alvareztech" target="_blank">Facebook</a>
  <a md-button href="https://twitter.com/alvarez_tech" target="_blank">Twitter</a>
  <a md-button href="https://www.youtube.com/alvareztech" target="_blank">YouTube</a>
  <p>Version 0.1 by Daniel Alvarez</p>
</footer>
