<md-toolbar color="primary">
  <a md-button routerLink="">
    <img src="/assets/alvareztech.svg" width="80" height="40" alt="ALVAREZ.tech">
  </a>

  <span class="dottech-spacer"></span>

  <a md-button routerLink="labs">Labs</a>
  <a md-button>Artículos</a>

  <img [src]="(user | async)?.photoURL" height="30" width="30" *ngIf="(user | async)">

  <a md-button (click)="login()" *ngIf="!(user | async)">Ingresar</a>
  <button md-icon-button [mdMenuTriggerFor]="themeMenu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>

<router-outlet></router-outlet>

<md-menu #themeMenu x-position="before">
  <button md-menu-item (click)="logout()">Salir</button>
</md-menu>
