<div class="container-fluid">
  <div class="row">
    <!-- Labs -->
    <div class="col" *ngIf="isVisible('lab')">

      <form>
        <md-toolbar>
          <button md-button (click)="returnLabs()">LABS</button>
          <div *ngIf="isLabSelected">
            <a md-button href="https://alvarez.tech/labs/{{ currentLab?.$key }}"
               target="_blank">/{{currentLab?.$key}}</a>
            <a md-button
               href="https://console.firebase.google.com/project/maksha-41f4f/database/data/labs/{{ currentLab?.$key }}"
               target="_blank">/firebase</a>
          </div>
          <span class="dottech-spacer"></span>
          <button md-mini-fab (click)="newLab()" *ngIf="!isLabSelected"><md-icon>add</md-icon></button>
          <button md-raised-button color="primary" (click)="saveLab()" *ngIf="isLabSelected && isNewLab">SAVE</button>
          <button md-raised-button color="primary" (click)="updateLab()" *ngIf="isLabSelected && !isNewLab">UPDATE
          </button>
        </md-toolbar>


        <div *ngIf="!isLabSelected" class="row">
          <md-spinner *ngIf="!(labs | async)"></md-spinner>
          <md-nav-list>
            <md-list-item *ngFor="let lab of labs | async" (click)="goLab(lab)">
              <md-icon md-list-icon *ngIf="!lab.published">build</md-icon>
              <md-icon md-list-icon *ngIf="lab.published" color="accent">check_circle</md-icon>
              <h4>{{ lab.title }}</h4>
              <p>&nbsp;{{ lab.updated | date }}</p>
            </md-list-item>
          </md-nav-list>
        </div>

        <div class="row" *ngIf="isLabSelected">
          <div class="col-8">
            <md-card>

              <md-input-container>
                <input mdInput placeholder="Title" [(ngModel)]="currentLab.title" name="Title">
              </md-input-container>

              <md-input-container *ngIf="isNewLab">
                <input mdInput placeholder="Identifier" [(ngModel)]="currentLab.$key" name="Identifier">
              </md-input-container>

              <md-input-container>
                <input mdInput id="stepTitle"
                       placeholder="Step title" [(ngModel)]="currentStep.title" name="Step Title">
              </md-input-container>

              <md-input-container>
                <textarea mdInput rows="25" [(ngModel)]="currentStep.content" name="Content"></textarea>
              </md-input-container>

            </md-card>
          </div>

          <div class="col-4">
            <md-card>

              <br/>

              <div class="row">
                <div class="col">
                  <md-select id="techLab" [(ngModel)]="currentLab.technology" name="Technology" required
                             ngDefaultControl>
                    <md-option *ngFor="let tech of technologyService.getTechnologies()" [value]="tech.id">{{ tech.name
                      }}
                    </md-option>
                  </md-select>
                </div>
              </div>

              <br/>

              <div class="row">
                <div class="col">
                  <md-select id="levelLab" name="Level" [(ngModel)]="currentLab.level" required ngDefaultControl>
                    <md-option *ngFor="let level of technologyService.getLevels()" [value]="level.id">{{ level.name }}
                    </md-option>
                  </md-select>
                </div>
              </div>

              <br/>

              <md-button-toggle-group #group="mdButtonToggleGroup">
                <md-button-toggle *ngFor="let x of currentLab.steps; let i = index;" (click)="setStep(i)">
                  {{ i }}
                </md-button-toggle>
              </md-button-toggle-group>

              <div class="row">
                <div class="col">
                  <button md-button (click)="newStep()">New step</button>
                </div>
              </div>

              <br/>

              <md-checkbox [(ngModel)]="currentLab.published" name="Published" ngDefaultControl>Published
              </md-checkbox>

            </md-card>
          </div>

        </div>
      </form>

    </div>
    <!-- Articles -->
    <div class="col" *ngIf="isVisible('art')">

      <form>

        <md-toolbar>
          <button md-button (click)="returnArticles()">ARTICLES</button>
          <div *ngIf="isArticleSelected">
            <a md-button href="https://alvarez.tech/articles/{{ currentArticle?.$key }}"
               target="_blank">/{{currentArticle?.$key}}</a>

            <a md-button
               href="https://console.firebase.google.com/project/maksha-41f4f/database/data/articles/{{ currentArticle?.$key }}"
               target="_blank">/firebase</a>
          </div>
          <span class="dottech-spacer"></span>
          <button md-mini-fab (click)="goNewArticle()" *ngIf="!isArticleSelected"><md-icon>add</md-icon></button>
          <button md-raised-button color="primary" (click)="saveArticle()" *ngIf="isArticleSelected && isNewArticle">
            SAVE
          </button>
          <button md-raised-button color="primary" (click)="updateArticle()" *ngIf="isArticleSelected && !isNewArticle">
            UPDATE
          </button>
        </md-toolbar>

        <div *ngIf="!isArticleSelected">
          <md-spinner *ngIf="!(articles | async)"></md-spinner>
          <md-nav-list>
            <md-list-item *ngFor="let article of articles | async" (click)="goArticle(article)">
              <md-icon md-list-icon *ngIf="!article.published">build</md-icon>
              <md-icon md-list-icon *ngIf="article.published" color="accent">check_circle</md-icon>
              <h4>{{ article.title }}</h4>
              <p>&nbsp;{{ article.updated | date }}</p>
            </md-list-item>
          </md-nav-list>
        </div>
        <div *ngIf="isArticleSelected">
          <md-input-container>
            <input mdInput placeholder="Title" name="Title" [(ngModel)]="currentArticle.title">
          </md-input-container>
          <md-input-container *ngIf="isNewArticle">
            <input mdInput placeholder="Identifier" [(ngModel)]="currentArticle.$key" name="Identifier">
          </md-input-container>
          <md-input-container>
            <textarea mdInput rows="30" name="Content" [(ngModel)]="currentArticle.content"></textarea>
          </md-input-container>
          <md-checkbox [(ngModel)]="currentArticle.published" name="Published" ngDefaultControl>Published
          </md-checkbox>
        </div>

      </form>

    </div>
    <!-- Pages -->
    <div class="col" *ngIf="isVisible('pag')">

      <form>
        <md-toolbar>
          <button md-button (click)="returnPages()">PAGES</button>
          <div *ngIf="isPageSelected">
            <a md-button href="https://alvarez.tech/{{ currentPage?.$key }}"
               target="_blank">/{{currentPage?.$key}}</a>
            <a md-button
               href="https://console.firebase.google.com/project/maksha-41f4f/database/data/pages/{{ currentPage?.$key }}"
               target="_blank">/firebase</a>
          </div>
          <span class="dottech-spacer"></span>
          <button md-mini-fab (click)="goNewPage()" *ngIf="!isPageSelected"><md-icon>add</md-icon></button>
          <button md-raised-button color="primary" (click)="savePage()" *ngIf="isPageSelected && isNewPage">SAVE</button>
          <button md-raised-button color="primary" (click)="updatePage()" *ngIf="isPageSelected && !isNewPage">UPDATE
          </button>
        </md-toolbar>

        <div class="row" *ngIf="!isPageSelected">
          <md-spinner *ngIf="!(pages | async)"></md-spinner>
          <md-nav-list>
            <md-list-item *ngFor="let page of pages | async" (click)="goPage(page)">
              <h4>{{ page.name }}</h4>
            </md-list-item>
          </md-nav-list>
        </div>

        <div class="row" *ngIf="isPageSelected">
          <div class="col-12">

            <md-card>

              <md-input-container>
                <input mdInput placeholder="Name" [(ngModel)]="currentPage.name" name="Name">
              </md-input-container>

              <md-input-container *ngIf="isNewLab">
                <input mdInput placeholder="Identifier" [(ngModel)]="currentPage.$key" name="Identifier">
              </md-input-container>

              <md-input-container>
                <textarea mdInput rows="25" [(ngModel)]="currentPage.content" name="Content"></textarea>
              </md-input-container>

            </md-card>

          </div>
        </div>

      </form>

    </div>
  </div>
</div>
