<div class="row" *ngIf="!isLabSelected">

  <h4>Labs</h4>
  <button md-button (click)="newLab()">New</button>

  <md-list>
    <md-list-item *ngFor="let lab of labs | async" (click)="goLab(lab)">
      {{ lab.title }}
      <small>{{ lab.technology }}</small>
    </md-list-item>
  </md-list>
</div>
<form>
  <div class="row" *ngIf="isLabSelected">

    <div class="form-group">
      <input type="text" class="form-control" id="titleLab" aria-describedby="Title"
             placeholder="Title" [(ngModel)]="currentLab.title" name="Title">
      <small id="identifier" class="form-text text-muted">Identifier: <a
        href="https://beta.alvarez.tech/labs/{{ currentLab?.$key }}" target="_blank">{{currentLab?.$key}}</a>
      </small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="identifierLab" aria-describedby="Title" *ngIf="isNewLab"
             placeholder="Identifier" [(ngModel)]="currentLab.$key" name="Identifier">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="stepTitle" aria-describedby="stepTitle"
             placeholder="Title" [(ngModel)]="currentStep.title" name="Step Title">
    </div>

    <div class="form-group">
        <textarea class="form-control" id="contentStep" rows="25" [(ngModel)]="currentStep.content"
                  name="Content"></textarea>
    </div>


    <div class="form-group">
      <select class="form-control" id="techLab" [(ngModel)]="currentLab.technology" name="Technology" required>
        <option *ngFor="let tech of technologyService.getTechnologies()" [value]="tech.id">{{ tech.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" id="levelLab" name="Level" [(ngModel)]="currentLab.level" required>
        <option *ngFor="let level of technologyService.getLevels()" [value]="level.id">{{ level.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <ul class="pagination pagination-sm">
        <li class="page-item" *ngFor="let x of currentLab.steps; let i = index;"
            [class.active]="currentStepNumber == i">
          <a class="page-link" (click)="setStep(i)">{{ i }}</a>
        </li>
      </ul>
      <button md-button (click)="newStep()">New step</button>
    </div>
    <div class="form-check">
      <md-checkbox [(ngModel)]="currentLab.published" name="Published">Published</md-checkbox>
    </div>
    <button md-button (click)="saveLab()">Save</button>
    <button md-button (click)="returnLabs()">Back</button>

  </div>
</form>
