<div class="row">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <div class="col-lg-9">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="titleLab" aria-describedby="Title"
               placeholder="Title" [(ngModel)]="currentLab.title" name="Title">
        <small id="identifier" class="form-text text-muted">Identifier: {{currentLab?.$key}}</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="identifierLab" aria-describedby="Title" *ngIf="isNewLab"
               placeholder="Identifier" [(ngModel)]="currentLab.$key" name="Identifier">
      </div>
      <div class="form-group">
        <select class="form-control" id="techLab" [(ngModel)]="currentLab.technology" name="Technology" required>
          <option *ngFor="let tech of technologyService.getTechnologies()" [value]="tech.id">{{ tech.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" id="levelLab" name="Level" [(ngModel)]="currentLab.level" required>
          <option *ngFor="let level of technologyService.getLevels()" [value]="level.id">{{ level.name }}</option>
        </select>
      </div>

      <h3>Steps</h3>

      <div class="form-group">
        <ul class="pagination">
          <li class="page-item" *ngFor="let x of currentLab.steps; let i = index;"
              [class.active]="currentStepNumber == i">
            <a class="page-link" (click)="setStep(i)">{{ i }}</a>
          </li>
        </ul>
        <button type="button" class="btn btn-secondary btn-sm" (click)="newStep()">New step</button>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="stepTitle" aria-describedby="stepTitle"
               placeholder="Title" [(ngModel)]="currentStep.title" name="Step Title">
      </div>

      <div class="form-group">
        <textarea class="form-control" id="contentStep" rows="30" [(ngModel)]="currentStep.content"
                  name="Content"></textarea>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" [(ngModel)]="currentLab.published" name="Published">
          Published
        </label>
      </div>

      <button type="button" class="btn btn-primary" (click)="saveLab()">Save</button>


    </form>
  </div>
  <div class="col-lg-3">
    <h4>Labs</h4>
    <button type="button" class="btn btn-secondary" (click)="newLab()">New</button>
    <div class="list-group">
      <a class="list-group-item list-group-item-action flex-column align-items-start"
         *ngFor="let lab of labs | async" (click)="goLab(lab)">
        <h6 class="mb-1">{{ lab.title }}</h6>
        <small>{{ lab.technology }}</small>
      </a>
    </div>
  </div>
</div>
