<div class="container">
  <div class="row">

    <md-spinner *ngIf="!(labsPreview | async)"></md-spinner>

    <div class="col-12 col-md-6 col-lg-4" *ngFor="let lab of labsPreview | async">

      <md-card [style.background]="technologyService.getTechnology(lab.technology).color">

        <md-card-header>
          <img md-card-avatar src="/assets/{{ technologyService.getTechnology(lab.technology).icon }}"
               alt="Tecnology"
          >
          <md-card-title>{{ technologyService.getTechnology(lab.technology).name }}</md-card-title>
          <md-card-subtitle>{{ technologyService.getLevel(lab.level).name }}</md-card-subtitle>
        </md-card-header>

        <md-card-title>{{ lab.title }}</md-card-title>
        <md-card-subtitle *ngIf="lab.videoId">
          <md-icon>ondemand_video</md-icon>
          <span>Video disponible</span>
        </md-card-subtitle>
        <md-card-content>
          Actualizado en {{ lab.updated | date }}
        </md-card-content>
        <button md-raised-button color="primary" [routerLink]="'/labs/' + [lab.$key]">INICIAR</button>
        <span class="dottech-spacer"></span>

      </md-card>

    </div>
  </div>
</div>
