<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let lab of labsPreview | async">

      <md-card [style.background]="technologyService.getTechnology(lab.technology).color">
        <md-card-title>{{ lab.title }}</md-card-title>
        <md-card-header>
          <img md-card-avatar src="/assets/{{ technologyService.getTechnology(lab.technology).icon }}"
               alt="Tecnology"
          >
          <md-card-title>{{ technologyService.getTechnology(lab.technology).name }}</md-card-title>
          <md-card-subtitle>{{ technologyService.getLevel(lab.level).name }}</md-card-subtitle>
        </md-card-header>
        <md-card-content>{{ lab.updated | date }}</md-card-content>
        <a md-raised-button color="primary" [routerLink]="'/labs/' + [lab.$key]">INICIAR</a>
      </md-card>

    </div>
  </div>
</div>
