md-card {
  margin: 16px 0 16px 0;
}

md-card-title {
  font-weight: 500;
  color: white;
}

.dottech-spacer {
  flex: 1 1 auto;
}

md-card-content {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

md-card-header md-card-title {
  color: white;
}

md-card-header md-card-subtitle {
  color: rgba(255, 255, 255, 0.7);
}

md-spinner {
  width: 48px;
  margin: auto;
}
