<div class="card title-lab text-center mb-4"
     [style.background]="technologyService.getTechnology((lab | async)?.technology)?.color">
  <div class="card-block">
    <img class="pb-1" src="/assets/{{ technologyService.getTechnology((lab | async)?.technology)?.icon }}"
         alt="{{ technologyService.getTechnology((lab | async)?.technology)?.name }}">
    <h1>{{ (lab | async)?.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <span class="badge badge-primary">{{ currentStep + 1 }}</span>
    <h2>
      {{ currentTitle }}
    </h2>
    <div [innerHtml]="currentContent"></div>

    <hr>

    <button type="button" class="btn btn-outline-primary" (click)="goNextStep()">Siguiente</button>
  </div>

  <div class="col-lg-3 offset-lg-1 sidebar-offcanvas">

    <div class="card mb-2 card-inverse card-primary">
      <div class="card-block">
        <blockquote class="card-blockquote">
          {{ technologyService.getLevel((lab | async)?.level )?.name }}
        </blockquote>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let step of (lab | async)?.steps; let i = index;"
          (click)="changeStep(i, step.title, step.content)">
        <span class="badge badge-primary">{{ i + 1 }}</span>
        &nbsp;
        {{ step.title }}
      </li>
    </ul>
  </div>

</div>
