.card.title-lab {
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.card.title-lab h1 {
  font-family: 'PT Mono', monospace;
  letter-spacing: -1px;
  font-size: 1.5rem;
  /*font-weight: normal;*/
}
.card.title-lab img {
  height: 2.5em;
}
:host >>> .lab-content img {
  display: block;
  margin: auto auto 1em;
  max-width: 100%;
  min-height: 2em;
  max-height: 40em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  /*background-color: #8484bd;*/
}
:host >>> pre {
  background-color: #F6F9FC;
  padding: 1em 1em 1em 1em;
  border-radius: 0.5em;
}
:host >>> code {
  color: #32325D;
  background-color: #F6F9FC;
}
