<div class="article-background">
  <div class="container">
    <div class="row">

      <md-spinner *ngIf="!isFinishLoad"></md-spinner>

      <div class="col-lg-4 article-header" *ngIf="isFinishLoad">
        <h1>{{ articleObject.title }}</h1>
        <p>Actualizado el {{ articleObject.updated | date }}</p>
        <p>Por Daniel Alvarez</p>
      </div>
      <div class="col-lg-8" *ngIf="isFinishLoad">
        <md-card>
          <img md-card-image [src]="articleObject.coverUrl">
          <div class="markdown-content" [innerHtml]="articleObject.content | markdown | sanitizeHtml">
          </div>
        </md-card>

        <!--<app-comments [type]="'articles'" [identifier]="articleId"></app-comments>-->

      </div>
    </div>
  </div>
</div>
