<div class="container">
  <div class="row">

    <md-spinner *ngIf="!isFinishLoad" color="accent"></md-spinner>

    <div class="col" *ngIf="isFinishLoad">

      <md-card class="article">
        <img md-card-image [src]="articleObject.coverUrl">
        <md-card-content>
          <h1>{{ articleObject.title }}</h1>
          <p>
            Actualizado el {{ articleObject.updated | date }} por Daniel Alvarez
          </p>
        </md-card-content>
      </md-card>

      <div class="markdown-content" [innerHtml]="articleObject.content | markdown | sanitizeHtml" highlight-js-content>
      </div>


    </div>
  </div>
</div>

<app-comments *ngIf="isFinishLoad" [type]="'articles'" [identifier]="articleId"></app-comments>
