:host >>> .article-content img {
  display: block;
  margin: auto auto 1em;
  max-width: 100%;
  min-height: 2em;
  max-height: 40em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

md-card {
  margin: 16px 0 16px 0;
}

h1.article-title {
  color: white;
  text-shadow: 1px 0 0 #32325D, -1px 0 0 #32325D, 0 1px 0 #32325D, 0 -1px 0 #32325D, 1px 1px #32325D, -1px -1px 0 #32325D, 1px -1px 0 #32325D, -1px 1px 0 #32325D;
}

p.article-title {
  color: white;
  text-shadow: 1px 0 0 #32325D, -1px 0 0 #32325D, 0 1px 0 #32325D, 0 -1px 0 #32325D, 1px 1px #32325D, -1px -1px 0 #32325D, 1px -1px 0 #32325D, -1px 1px 0 #32325D;
}

.fondo {
  background-color: #32325D;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
