<div class="fondo">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngIf="isFinishLoad">
        <h1 class="article-title">{{ articleObject.title }}</h1>
        <p class="article-title">Actualizado el {{ articleObject.updated | date }} pero
          creado el {{ articleObject.created | date
          }}</p>
      </div>
      <div class="col-lg-8" *ngIf="isFinishLoad">
        <md-card>
          <img md-card-image [src]="articleObject.coverUrl">
          <div class="article-content" [innerHtml]="articleObject.content | markdown | sanitizeHtml">
          </div>
        </md-card>
      </div>
    </div>
  </div>
</div>
