:host >>> .article-content img {
  display: block;
  margin: auto auto 1em;
  max-width: 100%;
  min-height: 2em;
  max-height: 40em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
