@import url("https://fonts.googleapis.com/css?family=Roboto|Product+Sans:400|Roboto+Mono:400|Material+Icons");

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

a:link {
  color: #2575fc;
  text-decoration: none;
}

a:visited {
  color: #2575fc;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Product Sans', sans-serif;
  font-weight: 400;
}

p, li {
  color: rgba(0, 0, 0, 0.7);
}

/* Code */

code {
  color: #596164;
  background-color: #f5f7fa;
  border-radius: 2px;
  padding: 0 2px 0 2px;
  line-height: normal;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 14px;
  /*padding: 2px;*/
}

pre code {
  padding: 0;
}

pre {
  padding: 8px;
  background-color: #f5f7fa;
  border-radius: 2px;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

span.hljs-keyword {
  color: #2575fc;
}

span.hljs-string {
  color: #FFA712;
}

span.hljs-title {
  font-weight: bold;
}

span.hljs-number {
  color: #FFA712;
}

span.hljs-meta {
  color: #868f96;
}

span.hljs-name {
  color: #2575fc;
}

/* UI Material Design */

md-card-title {
  font-family: 'Product Sans', sans-serif;
  font-weight: 400;
  color: white;
}

md-card-header md-card-title {
  color: white;
}

md-card-header md-card-subtitle {
  color: rgba(255, 255, 255, 0.7) !important;
}

md-card-content {
  color: rgba(255, 255, 255, 0.7) !important;
}

md-card-content p {
  color: rgba(255, 255, 255, 0.7) !important;
}

md-card {
  margin: 16px 0 16px 0;
  border-radius: 8px !important;
}

.mat-card-image {
  border-radius: 8px 8px 0 0 !important;
}

md-card.article {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

md-spinner {
  width: 48px !important;
  margin: auto;
}

.dottech-spacer {
  flex: 1 1 auto;
}

/* YouTube */

md-card.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Content */

.markdown-content img {
  display: block;
  margin: auto auto 1em;
  max-width: 100%;
  min-height: 2em;
  max-height: 40em;
}

.markdown-content img.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.markdown-content blockquote {
  background-color: rgba(37, 117, 252, 0.2);
  border-radius: 4px;
  padding: 1px 8px 1px 8px;
}

.markdown-content a span {
  font-size: 20px;
  vertical-align: bottom;
}

/* Technologies */

.tech-android {
  background-image: linear-gradient(120deg, #3ECF8E, #3ECF8E, #B9F4BC) !important;
}

.tech-prog {
  background-image: linear-gradient(120deg, #b224ef, #b224ef, #7579ff) !important;
}

.tech-java {
  background-image: linear-gradient(120deg, #ff0844, #ff0844, #ffb199) !important;
}

.tech-angular {
  background-image: linear-gradient(120deg, #DD0031, #DD0031, #C3002F) !important;
}

.tech-firebase {
  background-image: linear-gradient(120deg, #FCCA3F, #FCCA3F, #FFA712) !important;
}

.tech-ios {
  background-image: linear-gradient(120deg, #1C56FB, #1C56FB, #00c6fb) !important;
}

.tech-gcp {
  background-image: linear-gradient(120deg, #3B78E7, #3B78E7, #005bea) !important;
}

.tech-productivity {
  background-image: linear-gradient(120deg, #243949, #243949, #517fa4) !important;
}

.tech-other {
  background-image: linear-gradient(120deg, #00c9ff, #00c9ff, #92fe9d) !important;
}
