<section class="jumbotron">
  <h1>Creación y capacitación</h1>
  <p>Aplicaciones iOS, Android usando tecnología y servicios de Firebase y Google Cloud Platform.</p>
</section>

<h2>Labs</h2>
<div class="row">

  <div class="col-12 col-md-6 col-lg-4" *ngFor="let lab of labsPreview | async">

    <div class="card mb-4">
      <img class="card-img-top p-2"
           src="/assets/{{ technologyService.getTechnology(lab.technology).icon }}"
           alt="{{ technologyService.getTechnology(lab.technology).name }}"
           [style.background]="technologyService.getTechnology(lab.technology).color"
      >
      <div class="card-block">
        <h4 class="card-title">{{ lab.title }}</h4>
        <p class="card-text">{{ lab.description }}</p>
        <a class="btn btn-primary" [routerLink]="'/labs/' + [lab.$key]">Iniciar</a>
      </div>
    </div>

  </div>
</div>

<h2>Articles</h2>
<div class="row">

  <div class="col-12 col-md-6 col-lg-4" *ngFor="let article of articlesPreview | async">

    <div class="card mb-4">
      <div class="card-block">
        <h4 class="card-title">{{ article.title }}</h4>
        <p class="card-text">{{ article.description }}</p>
        <a class="btn btn-primary" routerLink="labs">Leer</a>
      </div>
    </div>
  </div>
</div>
