md-card {
  background: none;
  border: none;
  box-shadow: none !important;
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

md-card-content {
  color: rgba(0, 0, 0, 0.7) !important;
  word-wrap: break-word;
  overflow: auto;
  width: 100%;
}

md-card-content md-input-container {
  width: 100%;
}

span.date {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}

textarea {
  resize: none;
}

.center {
  text-align: center;
  padding: 8px;
  margin-bottom: 16px;
}
