<md-list>
  <md-list-item>
    <img md-list-avatar
         src="https://lh6.googleusercontent.com/-J6DLeFSuPnY/AAAAAAAAAAI/AAAAAAAAACQ/DSUyNjybpG8/photo.jpg">
    <p md-line>
      <span md-line>daniel alantez</span>
      <span md-line>COmo estan</span>
    </p>
  </md-list-item>
  <h3 md-subheader>Deja tu comentario, duda o consulta</h3>
  <md-list-item>
    <img md-list-avatar
         src="https://lh6.googleusercontent.com/-J6DLeFSuPnY/AAAAAAAAAAI/AAAAAAAAACQ/DSUyNjybpG8/photo.jpg">

    <md-input-container md-line>
      <textarea mdInput></textarea>
    </md-input-container>

  </md-list-item>
</md-list>
<button md-line md-raised-button color="accent">PUBLICAR</button>


